.container {
  background: white;
  border: 1px solid lightskyblue;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding: 15px;
  justify-items: center;
}

img {
  max-width: 100%;
  height: auto;
}
