.list {
  display: flex;
  list-style-type: none;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.listItem {
  margin-right: 1rem;
}

.navigation {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #1a3470;
  color: white;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.5em;
}

a:link {
  color: lightseagreen;
}

/* visited link */
a:visited {
  color: #999;
}

a:hover {
  color: lightgreen;
}

@media screen and (max-width: 1200px) {
  .navigation {
    font-size: 1em;
  }
}
