.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list {
  display: flex;
  list-style-type: none;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.listItem {
  margin-right: 1rem;
}

.navigation {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #1a3470;
  color: white;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightgray;
}

a:hover {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
