.container {
  background: white;
  border: 10px solid #666;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #1a3470;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding: 15px;
  justify-items: center;
}

.content {
  background: white;
  border: 2px dashed #666;
  padding: 10px;
}
