.container {
  background: white;
  border: 1px solid lightskyblue;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding: 25px 80px 50px 80px;
  justify-items: center;
}

.content {
  background: white;
  border: 2px dashed #666;
  padding: 10px;
}
